NUXT_HUB_DATABASE_URL=libsql://mini-ecommerce-dinsorkot.aws-ap-northeast-1.turso.io
NUXT_HUB_DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODgxODIzMDYsImlkIjoiMDFhMDU3ZjgtODEwMS03ZmU0LTgzZGYtY2Q3NWM5MTUxZjc2Iiwia2lkIjoiVzQ3U3B3N2FZYVAycVhFM3BHU0MyNml2cHNJYTlRWnl5TjFDejYtUk5GQSIsInJpZCI6IjAyNWZjOTUxLTllMjktNGM2Ni1iNGQxLWJjZGM3NzA1YTEwOCJ9.tngKp8Y7nkxDOl3VYQisZjz2z4kfF19TgsWU33mtIXlVeqFE9P8nuElZa6DIclZBzhJTE6zQxeSICaCs2enuDA
TURSO_DATABASE_URL=libsql://mini-ecommerce-dinsorkot.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODgxODIzMDYsImlkIjoiMDFhMDU3ZjgtODEwMS03ZmU0LTgzZGYtY2Q3NWM5MTUxZjc2Iiwia2lkIjoiVzQ3U3B3N2FZYVAycVhFM3BHU0MyNml2cHNJYTlRWnl5TjFDejYtUk5GQSIsInJpZCI6IjAyNWZjOTUxLTllMjktNGM2Ni1iNGQxLWJjZGM3NzA1YTEwOCJ9.tngKp8Y7nkxDOl3VYQisZjz2z4kfF19TgsWU33mtIXlVeqFE9P8nuElZa6DIclZBzhJTE6zQxeSICaCs2enuDA
# NUXT_ADMIN_PASSWORD set in Netlify env (default fallback admin123)
